go 1.26.1

use (
	./contrib/dubbo-go/dubbo
	./contrib/dubbo-go/jsonrpc
	./contrib/dubbo-go/rest
	./contrib/dubbo-go/triple
	./contrib/go-kratos/grpc
	./contrib/go-kratos/http
	./contrib/go-kratos/ws
	./contrib/go-zero/greet-api
	./contrib/go-zero/greet-rpc
	./contrib/go-zero/greet-ws
	./contrib/goframe/grpc
	./contrib/goframe/http
	./contrib/goframe/tcp
	./contrib/goframe/websocket
	./contrib/kitex/generic
	./contrib/kitex/protobuf
	./contrib/kitex/thrift
	./contrib/observability
	./contrib/observability-gorm
	./contrib/registry/consul
	./contrib/registry/etcd
	./contrib/registry/nacos
	./contrib/registry/polaris
	./contrib/registry/zookeeper
	./examples/bookman
	./examples/chatAI
	./examples/miniapi
	./examples/startup
	./gs/gs
	./gs/gs-gui
	./gs/gs-mock
	./layout
	./log
	./log/benchmarks/fields
	./log/benchmarks/logs
	./spring
	./starter/starter-dubbo
	./starter/starter-echo
	./starter/starter-elasticsearch
	./starter/starter-gin
	./starter/starter-go-redis
	./starter/starter-go-zero
	./starter/starter-gorm-clickhouse
	./starter/starter-gorm-mysql
	./starter/starter-gorm-postgres
	./starter/starter-gorm-sqlite
	./starter/starter-gorm-sqlserver
	./starter/starter-grpc
	./starter/starter-hertz
	./starter/starter-kafka
	./starter/starter-kitex
	./starter/starter-kitex/example
	./starter/starter-kratos
	./starter/starter-mongodb
	./starter/starter-neo4j
	./starter/starter-otel
	./starter/starter-pprof
	./starter/starter-pulsar
	./starter/starter-rabbitmq
	./starter/starter-redigo
	./starter/starter-thrift
	./starter/starter-websocket
	./starter/starter-websocket-coder
	./stdlib
)
