go 1.26.1

use (
	./contrib/dubbo-go/dubbo
	./contrib/dubbo-go/jsonrpc
	./contrib/dubbo-go/rest
	./contrib/dubbo-go/triple
	./contrib/go-kratos/grpc
	./contrib/go-kratos/http
	./contrib/go-kratos/ws
	./contrib/go-zero/greet-api
	./contrib/go-zero/greet-rpc
	./contrib/go-zero/greet-ws
	./contrib/goframe/grpc
	./contrib/goframe/http
	./contrib/goframe/tcp
	./contrib/goframe/websocket
	./contrib/kitex/generic
	./contrib/kitex/protobuf
	./contrib/kitex/thrift
	./contrib/observability
	./contrib/observability-gorm
	./contrib/registry/consul
	./contrib/registry/etcd
	./contrib/registry/nacos
	./contrib/registry/polaris
	./contrib/registry/zookeeper
	./examples/bookman
	./examples/chatAI
	./examples/fullstack
	./examples/miniapi
	./examples/startup
	./gs/gs
	./gs/gs-gui
	./gs/gs-mock
	./layout
	./log
	./log/benchmarks/fields
	./log/benchmarks/logs
	./spring
	./spring/cloud/event/example
	./starter/starter-actuator
	./starter/starter-actuator/example
	./starter/starter-admin-ui
	./starter/starter-admin-ui/example
	./starter/starter-ants
	./starter/starter-ants/example
	./starter/starter-batch
	./starter/starter-batch-redis
	./starter/starter-batch/example
	./starter/starter-bigcache
	./starter/starter-bigcache/example
	./starter/starter-casbin
	./starter/starter-casbin/example
	./starter/starter-config-bus
	./starter/starter-config-bus/example
	./starter/starter-config-consul
	./starter/starter-config-consul/example
	./starter/starter-config-etcd
	./starter/starter-config-etcd/example
	./starter/starter-config-file
	./starter/starter-config-file/example
	./starter/starter-config-k8s
	./starter/starter-config-k8s/example
	./starter/starter-config-nacos
	./starter/starter-config-nacos/example
	./starter/starter-config-vault
	./starter/starter-config-vault/example
	./starter/starter-discovery-k8s
	./starter/starter-discovery-k8s/example
	./starter/starter-dubbo
	./starter/starter-dubbo/example
	./starter/starter-echo
	./starter/starter-echo/example
	./starter/starter-elasticsearch
	./starter/starter-elasticsearch/example
	./starter/starter-gateway
	./starter/starter-gateway/example
	./starter/starter-gin
	./starter/starter-gin/example
	./starter/starter-go-redis
	./starter/starter-go-redis/example
	./starter/starter-go-zero
	./starter/starter-go-zero/rest/example
	./starter/starter-go-zero/zrpc/example
	./starter/starter-goframe
	./starter/starter-goframe/grpc/example
	./starter/starter-goframe/http/example
	./starter/starter-goframe/tcp/example
	./starter/starter-goframe/ws/example
	./starter/starter-gorm-clickhouse
	./starter/starter-gorm-clickhouse/example
	./starter/starter-gorm-mysql
	./starter/starter-gorm-mysql/example
	./starter/starter-gorm-postgres
	./starter/starter-gorm-postgres/example
	./starter/starter-gorm-sqlserver
	./starter/starter-gorm-sqlserver/example
	./starter/starter-grpc
	./starter/starter-grpc/example
	./starter/starter-hertz
	./starter/starter-hertz/example
	./starter/starter-http-client
	./starter/starter-http-client/example
	./starter/starter-kafka
	./starter/starter-kafka-sarama
	./starter/starter-kafka-sarama/example
	./starter/starter-kafka/example
	./starter/starter-kitex
	./starter/starter-kitex/example
	./starter/starter-kratos
	./starter/starter-lock-consul
	./starter/starter-lock-consul/example
	./starter/starter-lock-etcd
	./starter/starter-lock-etcd/example
	./starter/starter-lock-k8s
	./starter/starter-lock-k8s/example
	./starter/starter-lock-redis
	./starter/starter-lock-redis/example
	./starter/starter-lua-filter
	./starter/starter-lua-filter/example
	./starter/starter-mail
	./starter/starter-mail/example
	./starter/starter-memcached
	./starter/starter-memcached/example
	./starter/starter-mesh
	./starter/starter-mesh/example
	./starter/starter-migration-gorm
	./starter/starter-migration-gorm/example
	./starter/starter-mongodb
	./starter/starter-mongodb/example
	./starter/starter-mqtt
	./starter/starter-mqtt/example
	./starter/starter-nats
	./starter/starter-nats/example
	./starter/starter-neo4j
	./starter/starter-neo4j/example
	./starter/starter-oauth2-client
	./starter/starter-oauth2-client/example
	./starter/starter-oauth2-server
	./starter/starter-oauth2-server/example
	./starter/starter-otel
	./starter/starter-otel/example
	./starter/starter-pprof
	./starter/starter-pprof/example
	./starter/starter-pulsar
	./starter/starter-pulsar/example
	./starter/starter-rabbitmq
	./starter/starter-rabbitmq/example
	./starter/starter-redigo
	./starter/starter-redigo/example
	./starter/starter-registry-consul
	./starter/starter-registry-consul/example
	./starter/starter-registry-etcd
	./starter/starter-registry-etcd/example
	./starter/starter-registry-nacos
	./starter/starter-registry-nacos/example
	./starter/starter-registry-zookeeper
	./starter/starter-registry-zookeeper/example
	./starter/starter-repository-gorm
	./starter/starter-repository-gorm/example
	./starter/starter-resilience
	./starter/starter-resilience/example
	./starter/starter-scheduler
	./starter/starter-scheduler/example
	./starter/starter-security-jwt
	./starter/starter-security-jwt/example
	./starter/starter-session-redis
	./starter/starter-session-redis/example
	./starter/starter-swagger
	./starter/starter-swagger/example
	./starter/starter-thrift
	./starter/starter-thrift/example
	./starter/starter-transaction-at-gorm
	./starter/starter-transaction-at-gorm/example
	./starter/starter-transaction-saga
	./starter/starter-transaction-saga-gorm
	./starter/starter-transaction-tcc
	./starter/starter-transaction-tcc/example
	./starter/starter-trpc
	./starter/starter-trpc/example
	./starter/starter-validation
	./starter/starter-validation/example
	./starter/starter-websocket
	./starter/starter-websocket-coder
	./starter/starter-websocket-coder/example
	./starter/starter-websocket/example
	./stdlib
)
